
@model IEnumerable<EspecialidadDenominacion>;

@if (Model is not null)
{
 <table class="table">
      <thead>
          <tr>
              <th>Acciones</th>
              
              <th>Nombre</th>
          </tr>
      </thead>
      <tbody id="reordenable">
        @foreach (var item in Model) {
            <tr>
                <td>
            @Html.DisplayFor(modelItem => item.Idsede)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sede)
        </td>
        <td>
             @Html.DisplayFor(modelItem => item.Especialidad)
        </td>
     
        
           </tr>
            }
    </tbody>
  </table>


}